include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script(src="https://api-maps.yandex.ru/2.1/?apikey=4c6eeddf-a2c0-42d3-a7f6-d791db37802d&lang=ru_RU" type="text/javascript")
  body
    .wrapper
      header.header
        .header__container.container
          .header__logo
            a.header__link(href="#hero")
              +image("content/logo.png", "logo", "логотип")
          .header__nav
            nav.menu
              -
                var items = [
                  {href: "#hero", name: "Главная"},
                  {href: "#practice", name: "Юридическая практика"},
                  {href: "#inst", name: "Instagram"},
                  {href: "#contacts", name: "Контакты"},
                  {
                    hrefOne: "#practiceOne",
                    hrefTwo: "#practiceTwo",
                    name: "Еще",
                    nameTwo: "Направления юридической практики"
                  }
                ];
              ul.menu__list
                each item in items
                  if item.name === "Еще"
                    li.menu__item
                      .menu__link.dropdown #{item.name}
                        .dropdown__menu
                          ul.dropdown__list
                            li.dropdown__item
                              a.dropdown__link(href=item.hrefOne) #{item.nameTwo}
                            li.dropdown__item
                              a.dropdown__link(href=item.hrefTwo) #{item.nameTwo}
                  else
                    li.menu__item
                      a.menu__link(href=item.href) #{item.name}

          .header__links
            -
              var icons = [
                {href: "https://www.instagram.com/yourist_msk/", name: "insta"},
                {href: "https://www.facebook.com/YouRistMSK", name: "facebook"}
              ];
            ul.socials
              each icon in icons
                li.socials__item
                  a.socials__link(href=icon.href)
                    +icon(icon.name, "socials__icon")


      section.hero(id="hero")
        .hero__bg
          +image("background/moscow.jpg", "hero__img", "картинка москвы")
        .hero__container
          .hero__content
            h1 Никита Тарновский #[br]Ваш Юрист
            h2 Защита Ваших интересов превыше всего
            h3 Ищите Юриста или Представителя в Москве?
            p Я, предлагаю полный спектр юридической поддержки. Если у вас есть юридическая проблема или вопрос, я смогу
              | предложить вам лучшее решение в г. Москва. У меня репутация юриста, который использует творческий подход к
              | судебным разбирательствам и всегда добивается исключительных результатов там, где другим это не удается.
              | Я занимаюсь юридической, адвокатской практикой с 2010 года.
            .hero__btn
              a.btn(href="#contacts") Контакты

      section.practice(id="practice")
        .practice__header
          .practice__header-container.container
            h2 Направления юридической практики
            h3 Наша команда профессиональных Юристов и Адвокатов оказывает помощь по следующим направлениям
        .practice__content
          -
            var items = [
              {
                name: "Арбитраж",
                desc: "Любая категория дел, от Приказов до Банкротства",
                img: "practice1"
              },
              {
                name: "Согласование условий договора",
                desc: "Полностью уникальный договор по вашим условиям для защиты интересов",
                img: "practice2"
              },
              {
                name: "Взаимодействия с Гос.Органами",
                desc: "Консультация по обращениям и защите интересов",
                img: "practice3"
              }
            ];
          .practice__list(id="practiceOne")
            ul.practice__list-container.container
              each item in items
                li.practice__item
                  h2 #{item.name}
                  +image(`content/${item.img}.jpg`, "practice__img")
                  h3 #{item.desc}
          -
            var items = [
              {
                name: "Гражданско-правовые споры",
                desc: "Защита и Представительство в Судах",
                img: "practice4"
              },
              {
                name: "Защита Прав Потребителей",
                desc: "Огромный опыт успешных дел",
                img: "practice5"
              },
              {
                name: "Возмещение вреда жизни или здоровью",
                desc: "Помощь после ДТП, Несчастных Случаев на производстве, Гибели",
                img: "practice6"
              }
            ];
          .practice__list(id="practiceTwo")
            ul.practice__list-container.container
              each item in items
                li.practice__item
                  +image(`content/${item.img}.jpg`, "practice__img")
                  h2 #{item.name}
                  h3 #{item.desc}
          -
            var items = [
              {
                name: "Подготовка и обучение Бизнес -Процессам",
                desc: "Создание карты взаимодействий отделов, обучение документо-обороту и многое другое",
                img: "practice7"
              },
              {
                name: "Бракоразводный процесс и Взыскание Алиментов",
                desc: "Конфиденциальность и урегулирование разногласий",
                img: "practice8"
              },
              {
                name: "Судебный возврат долгов по распискам, договорам",
                desc: "Как вернуть деньги по расписке? - обратитесь к нам",
                img: "practice9"
              }
            ];
          .practice__list
            ul.practice__list-container.container
              each item in items
                li.practice__item
                  +image(`content/${item.img}.jpg`, "practice__img")
                  h2 #{item.name}
                  h3 #{item.desc}

      section.inst(id="inst")
        -
          var items = [
            {
              text: "К великому сожалению мы и наши родственники не вечны, и иногда возникают ситуации когда требуется " +
                      "грамотная помощь в оформлении и итоговом наследовании оставшегося имущества. Ситуация: " +
                      "Обратилась клиент, которая после смерти матери унаследовала от нее квартиру в которой уже " +
                      "давно проживала и обслуживала, но по пр",
              img: "test"
            },
            {
              text: "К великому сожалению мы и наши родственники не вечны, и иногда возникают ситуации когда требуется " +
                      "грамотная помощь в оформлении и итоговом наследовании оставшегося имущества. Ситуация: " +
                      "Обратилась клиент, которая после смерти матери унаследовала от нее квартиру в которой уже " +
                      "давно проживала и обслуживала, но по прошествию пары месяцев после регистрации, оказалось " +
                      "что 1/2 квартиры (нотариус этого не установил сразу) принадлежит и оформлена на умершего " +
                      "брата матери о существовании которого не только не знал ни кто кроме матери клиента, но и " +
                      "ЗАГС, так как свидетельство о рождении было утеряно в пожаре архива во время войны. Задача: " +
                      "Доказать родство оказалось не так просто, бумажного следа кроме свидетельства о смерти " +
                      "(фамилия друга) нет, были направлены запросы в ФСБ, ФНС, ЗАГС, Администрации, Росреестр, МВД, " +
                      "Архив ВС РФ, но ответы оставались неутешительными. Решение: после сбора всех документов " +
                      "которые только могут быть - подано заявление в суд на установление родства и принятия " +
                      "наследства на часть квартиры. Заявление ввиду нового года приходило обратно 3 раза, пришлось " +
                      "связываться с председателем суда, после разговора с которым удалось добиться принятия заявления. " +
                      "Об итоге расскажу позже",
              img: "practice9"
            },
            {
              text: "Наполнение контента",
              img: "practice1"
            },
            {
              text: "Наполнение контента",
              img: "practice9"
            },
            {
              text: "Наполнение контента",
              img: "practice9"
            },
            {
              text: "Наполнение контента",
              img: "practice9"
            },
            {
              text: "Наполнение контента",
              img: "practice9"
            },
            {
              text: "Наполнение контента",
              img: "practice9"
            },
          ];
        .inst__content
          ul.inst__list
            each item in items
              li.inst__item
                +image(`content/${item.img}.jpg`, "inst__img")
                p #{item.text}
                .inst__cover-block
          .fullscreen
            ul.fullscreen__list
              each item in items
                li.fullscreen__item
                  .fullscreen__container
                    .fullscreen__columnLeft
                      +image(`content/${item.img}.jpg`, "inst__img")
                    .fullscreen__columnRight
                      .fullscreen__header
                        a.fullscreen__link-name(href="https://www.instagram.com/yourist_msk/") yourist_msk
                        a.fullscreen__link-icon(href="https://www.instagram.com/yourist_msk/")
                          +icon("insta", "inst__icon")
                      p #{item.text}
            .fullscreen__close
              +icon("close", "fullscreen__icon")
            .fullscreen__left
              +icon("left", "fullscreen__icon")
            .fullscreen__right
              +icon("right", "fullscreen__icon")


      section.contacts(id="contacts")
        .contacts__pic
        .contacts__content
          .contacts__container
            .contacts__text
              .contacts__title Связаться
              p Ленинградский пр-т., 47 стр. 1
              p tarkit@gmail.com
              p На связи 24\7 для наших клиентов
            .contacts__form
              form.form
                .form__row
                  input.form__input(placeholder="Имя", type="text", name="name" required)
                  .form__validate
                .form__row
                  input.form__input(placeholder="Адрес", type="text")
                .form__row
                  .form__col
                    input.form__input(placeholder="Эл.почта", type="email", name="email" required)
                    .form__validate
                  .form__col
                    input.form__input(placeholder="Телефон", type="tel")
                .form__row
                  input.form__input(placeholder="Тема", type="text")
                .form__row
                  textarea.form__input.form__input--textarea(placeholder="Добавьте сообщение...")
                button.form__btn(type="submit") Отправить
                .form__thanks Отправлено. Спасибо!

      section.map(id="map")

      footer.footer
        .footer__text &copy;2021 Ваш Юрист в Москве.